@import "tailwindcss";

body { 
  font-family: 'Inter', sans-serif; 
}

/* For Webkit-based browsers (Chrome, Safari, Edge, etc.) */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #000000; /* Black track */
}

::-webkit-scrollbar-thumb {
  background-color: #27272a; /* A dark gray from your theme (neutral-800) */
  border-radius: 10px;
  border: 2px solid #000000; /* Padding around thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #404040; /* Lighter gray on hover (neutral-700) */
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #27272a #000000; /* thumb color track color */
}